*{
    padding:0px;
    margin:0px;
}

.container{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.menu{
    background-color: aqua;
    width: 200px;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav{
    background-color: brown;
    width:100%;
    height:80px
}
.pagina{
    display: flex;
}
.conteudo{
    width:calc(100% - 200px);
    height:700px;
    background-color: blueviolet;
}
.categorias{
    width:calc(100% - 1px);
    height:50px;
    background-color: coral;
    border: 1px solid black;
}